$tablet-breakpoint: 600px;
$mobile-breakpoint: 480px;

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    color: #ffffff;
}

body {
    .wrapper {
        background-color: #000000;
        height: 290vh;
        width: 100vw;
        @media (max-width: $tablet-breakpoint) {
            min-height: 190vh;
        }
        .hero {
            background-image: url("../assets/portada.png");
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 843px;
            left: -21px;
            top: 0px;
            @media (max-width: $tablet-breakpoint) {
                height: 540px;
            }

            .header {
                width: 1440px;
                height: 65px;
                background: rgba(0, 0, 0, 0.801218);
                font-style: normal;
                font-weight: bold;
                font-size: 21px;
                line-height: 29px;
                position: fixed;
                z-index: 1;
                display: flex;

                .icon {
                    margin: 0px -10px 0px 15px;
                    width: 45px;
                    display: none;
                    font-size: 2rem;
                    background-color: transparent;
                    border: none;
                    @media (max-width: 890px) {
                        display: block;
                    }
                }
                .courflix-wrapper {
                    margin-top: 10px;
                    .logo {
                        width: 145.69px;
                        height: 45px;
                        margin-left: 75px;
                        margin-right: 50px;
                        margin-top: 3px;
                        @media (max-width: $tablet-breakpoint) {
                            margin-left: 30px;
                        }
                    }
                }
                .links {
                    display: flex;
                    margin-top: 10px;
                    list-style: none;

                    &.active {
                        display: flex;
                    }
                    @media (max-width: 990px) {
                        margin-left: -50px;
                    }
                    @media (max-width: 890px) {
                        flex-direction: column;
                        align-items: flex-start;
                        height: 700px;
                        background-color: black;
                        margin: 65px 0px 0px -321px;
                        padding: 0px 0px 0px 5px;
                        display: none;
                    }
                    @media (max-width: $tablet-breakpoint) {
                        margin: 65px 0px 0px -276px;
                    }

                    .link-wrapper {
                        .link {
                            display: inline-block;
                            padding: 10px;
                            @media screen and (max-width: 890px) {
                                margin-top: 30px;
                            }
                            &:hover {
                                background-color: rgba(0, 0, 0, 0.3);
                            }
                            &.mq {
                                @media screen and (max-width: 890px) {
                                    font-weight: lighter;
                                }
                        }
                       
                        }
                    }
                }
            }
            section {
                .original-courflix {
                    width: 344px;
                    height: 38px;
                    left: 78px;
                    top: 207px;
                    font-weight: bold;
                    .original-courflix-title {
                        font-size: 1.5rem;
                        padding: 233px 0px 48px 87px;
                        @media (max-width: $tablet-breakpoint) {
                            display: none;
                        }
                    }
                }
                .title {
                    width: 530px;
                    height: 200px;
                    left: 74px;
                    top: 263px;
                    @media (max-width: $tablet-breakpoint) {
                        width: 4000px;
                        height: 100px;
                        left: 13px;
                        top: 123px;
                    }
                    .black-summer {
                        font-style: normal;
                        font-weight: bold;
                        font-size: 110px;
                        line-height: 100px;
                        margin: 237px 75px;
                        @media (max-width: $tablet-breakpoint) {
                            font-size: 45px;
                            line-height: 33px;
                            margin: 237px 20px;
                        }
                    }
                    .description {
                        display: none;
                        @media (max-width: $tablet-breakpoint) {
                            font-size: 1.2rem;
                            margin-top: -210px;
                            margin-left: 25px;
                            display: block;
                        }
                    }
                }
                .buttons {
                    .button {
                        display: inline-block;
                        margin: 22px -57px -65px 83px;
                        height: 65px;
                        width: 182px;
                        text-align: center;
                        background-color: rgba(157, 151, 151, 0.541521);
                        border-radius: 9px;
                        padding: 22px 0px 0px 0px;
                        font-size: 1.2rem;
                        @media (max-width: $tablet-breakpoint) {
                            height: 50px;
                            width: 170px;
                            margin: 0px -17px -65px 22px;
                            padding: 10px 0px 0px 0px;
                        }
                    }
                }
                .season1 {
                    .watch {
                        width: 215px;
                        height: 66px;
                        left: 80px;
                        top: 569px;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 24px;
                        line-height: 33px;
                        margin: 67px 0px 0px 84px;
                        @media (max-width: $tablet-breakpoint) {
                            display: none;
                        }
                    }
                    .sinopsis {
                        width: 656px;
                        width: 656px;
                        height: 87px;
                        left: 81px;
                        top: 613px;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 24px;
                        line-height: 33px;
                        margin: -5px 0px 0px 84px;
                        @media (max-width: $tablet-breakpoint) {
                            display: none;
                        }
                    }
                }
                .series-wrapper {
                    @media (max-width: $tablet-breakpoint) {
                        margin-left: -45px;
                    }
                    .series-title {
                        margin: 90px 0px 0px 84px;
                        padding-bottom: 20px;
                        font-size: 1.2rem;
                        font-weight: bold;
                        line-height: 33px;
                    }
                    .series {
                        margin: 0px 0px 0px 81px;
                        display: flex;
                        width: 90%;
                        height: 100%;
                        .progress-bar {
                            width: 250px;
                            height: 10px;
                            background-color: #333;
                            margin-top: 10px;
                            margin-left: 45px;
                            border-radius: 2px;
                                #progress1 {
                                    width: 80%;
                                }
                                #progress2 {
                                    width: 30%;
                                }
                                #progress3 {
                                    width: 5%;
                                }
                                #progress4 {
                                    width: 100%;
                                }
                                #progress5 {
                                    width: 40%;
                                }
                            .progress {
                                width: 0;
                                height: 100%;
                                background-color: red;
                                transition: width 2s ease-in-out;
                            }
                        }
                    }
                }
            }
        }
    }
}
