@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,300&display=swap");

$tablet-breakpoint: 600px;
$mobile-breakpoint: 480px;

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    font-family: Open Sans;
    text-decoration: none;
    margin: 0px 0px -10px 0px;
    color: #ffffff;
}

body {
    .wrapper {
        background-color: #000000;
        min-height: 180vh;
        max-width: 100vw;
        @media (max-width: $tablet-breakpoint) {
            min-height: 320vh;
        }
        .hero {
            background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.884), rgba(170, 170, 170, 0.11)), 
                url("../assets/breakingbad04.png");
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 843px;
            left: -21px;
            top: 0px;
            @media (max-width: $tablet-breakpoint) {
                height: 540px;
            }

            .header {
                width: 1440px;
                height: 65px;
                left: 0px;
                top: 0px;
                background: rgba(0, 0, 0, 0.801218);
                font-style: normal;
                font-weight: bold;
                font-size: 21px;
                line-height: 29px;
                position: fixed;
                z-index: 1;
                display: flex;
                .courflix-wrapper {
                    .logo {
                        width: 148.69px;
                        height: 45px;
                        margin-left: 65px;
                        margin-right: 50px;
                        margin-top: 13px;
                    }
                }
                .links {
                    display: flex;
                    margin-top: 10px;
                    list-style: none;
                    @media (max-width: 935px) {
                        margin-left: -50px;
                    }
                    @media (max-width: 935px) {
                        display: none;
                    }
                    .link-wrapper {
                        .link {
                            display: inline-block;
                            padding: 10px;

                            &:hover {
                                background-color: rgba(0, 0, 0, 0.3);
                            }
                        }
                    }
                }
            }
            section {
                .img-wrapper {
                    .logo-BB {
                        width: 345px;
                        height: 345px;
                        margin: 60px 0px -25px 75px;
                    }
                    @media (max-width: $tablet-breakpoint) {
                        display: none;
                    }
                }
                .BB-title {
                    .title {
                        display: none;
                        height: 100px;
                        width: 500px;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 50px;
                        line-height: 33px;
                        padding-top: 230px;
                        margin-left: 20px;
                        @media (max-width: $tablet-breakpoint) {
                            display: block;
                        }
                    }
                }
                .description {
                    width: 530px;
                    left: 74px;
                    top: 263px;
                    margin-left: 75px;
                    @media (max-width: $tablet-breakpoint) {
                        margin-top: 60px;
                        margin-left: 25px;
                    }
                    .percentage {
                        color: #009c04;
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 25px;
                        margin-right: 15px;
                        @media (max-width: $tablet-breakpoint) {
                            display: none;
                        }
                    }
                    .year {
                        margin-right: 15px;
                    }
                    .audience {
                        display: inline-flex;
                        border: 1px solid #ccc;
                        border-radius: 5px;
                        width: 40px;
                        padding-left: 5px;
                    }
                    .season {
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 25px;
                        margin-left: 15px;
                    }
                }
                .click-buttons {
                    display: flex;
                    margin-top: 20px;
                    margin-left: 45px;
                    .buttons {
                        .button {
                            display: inline-block;
                            margin: 22px -20px -65px 30px;
                            height: 65px;
                            width: 182px;
                            text-align: center;
                            background-color: rgba(157, 151, 151, 0.541521);
                            border-radius: 9px;
                            padding: 20px 0px 0px 0px;
                            font-size: 1.2em;
                            @media (max-width: $tablet-breakpoint) {
                                height: 50px;
                                width: 190px;
                                margin: 0px -17px -65px -20px;
                                padding: 13px 0px 0px 0px;
                            }
                        }
                        .reproducir {
                            background-color: #ed0a1d;
                        }
                        .lista {
                            @media (max-width: 800px) {
                                display: none;
                            }
                        }
                    }
                    .like {
                        width: 300px;
                        margin: 30px 0px 0px 55px;
                        font-size: 30px;
                        @media (max-width: $tablet-breakpoint) {
                            display: none;
                        }
                        .hand {
                            display: flex;
                            .fa {
                                &.fa-thumbs-o-up {
                                    border: 2px solid #ccc;
                                    border-radius: 50px;
                                    width: 40px;
                                    height: 40px;
                                    padding: 4px;
                                    margin-top: 5px;
                                }
                                &.fa-thumbs-o-down {
                                    margin-left: 40px;
                                    border: 2px solid #ccc;
                                    border-radius: 50px;
                                    width: 40px;
                                    height: 40px;
                                    margin-left: 53px;
                                    margin-top: -30px;
                                    padding: 4px;
                                }
                                &:hover {
                                    background-color: black;
                                }
                            }
                        }
                    }
                }
                .season1 {
                    .watch {
                        width: 215px;
                        height: 66px;
                        left: 80px;
                        top: 569px;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 24px;
                        line-height: 33px;
                        margin: 67px 0px 0px 84px;
                        @media (max-width: $tablet-breakpoint) {
                            display: none;
                        }
                    }
                    .sinopsis {
                        width: 656px;
                        width: 550px;
                        height: 87px;
                        left: 81px;
                        top: 613px;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 24px;
                        line-height: 33px;
                        margin: 90px 0px 0px 75px;
                        @media (max-width: $tablet-breakpoint) {
                            display: none;
                        }
                    }
                }
                .series-wrapper {
                    .series-title {
                        margin: 131px 0px 0px 84px;
                        padding-bottom: 20px;
                        font-size: 1.2rem;
                        font-weight: bold;
                        line-height: 33px;
                        @media (max-width: $tablet-breakpoint) {
                            margin-left: 23px;
                        }
                    }
                    .series {
                        margin: 0px 0px 0px 81px;
                        display: flex;
                        width: 90%;
                        height: 100%;
                        @media (max-width: $tablet-breakpoint) {
                            flex-direction: column;
                            margin-left: 20px;
                        }

                        .serie {
                            margin-right: 10px;
                            display: flex;
                            @media (max-width: $tablet-breakpoint) {
                                margin-bottom: 90px;
                                height: 150px;
                            }
                            .img-serie {
                                height: 200px;
                                @media (max-width: $tablet-breakpoint) {
                                width: 50%;
                                height: 100%;
                                }
                            }
                            .episode-description {
                                display: none;
                                @media (max-width: $tablet-breakpoint) {
                                    //width: 500px;
                                    display: block;
                                }
                                .cap-title {
                                    font-weight: bold;
                                    font-size: 1rem;
                                    margin-left: 13px;
                                }
                                .cap-sinopsis {
                                    text-align: justify;
                                    line-height: 23px;
                                    margin-top: 15px;
                                    margin-right: -30px;
                                    margin-left: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
